name: Test Dispatch

on:
  workflow_dispatch:
    inputs:
      test:
        description: 'Test input'
        required: true
        type: string

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Echo input
        run: echo "${{ inputs.test }}"
